@import "ourworks";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.show{
  display: block !important;
}

.red {
  color: #ff0000;
}
.green{
  color: #008000;
}
.d-flex {
  display: flex;
}

.container {

  margin: 0 40px;
}


.header {
  padding-top: 15px;
  font-size: 20px;

  &__navigation {
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  .logo img {
    width: 4em;
    height: 4em;
  }

  .location {
    text-align: center;
    align-items: center;

    i {
      margin-right: 10px;
    }

  }

  .contacts {
    text-align: left;

    p {
      margin: 4px 0 7px 0;
    }

    .phone, .viber, .telegram {
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 8px;
      }
    }
  }
}
//sidebar start
nav {
  background: white;
  box-shadow: 0.6em -0.6em 7px rgba(122,122,122,.71);
  position: sticky;
  max-width: 521px;
  top: 0;
  z-index: 150;
  left: 0;
  animation: top-menu 6s forwards;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out;
}

.topmenu {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #000000;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 3px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}

.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}

.topmenu > li > a {
  padding: 1px 16px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}

.topmenu li a:hover {
  color: #c0a97a;
}

.submenu {
  position: absolute;
  left: 50%;
  top: 143%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: .4s ease-in-out;
}

.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
  font-family: 'Kurale', serif;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

@keyframes top-menu {

  100%{
    left: 35%;

  }
}
//sidebar end
// Home Start
.home {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  position: relative;

  .content {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 100;
    opacity: 0;
    animation: cont 15s forwards;
    animation-delay: 3s;

    p {
      background: rgba(255, 255, 255, 0.2);
      padding: 22px;
      font-size: 23px;
    }
  }
}



@keyframes cont {
  100% {
    opacity: 1;
  }
}


.home:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  animation: mask 3s forwards;

}

@keyframes mask {
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

.home img {
  animation: img 10s forwards;
  transform-origin: left top;
}

@keyframes img {
  100% {
    transform: scale(1.7);
  }
}

// Home end

// catalog start

.catalog {
  background: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 50px;

  .title {
    text-align: center;
    font-size: 29px;
    margin-bottom: 25px;

    h3 {
      margin: 0;
    }
  }

  &__products {
    justify-content: space-between;
    flex-wrap: wrap;

    .product {
      position: relative;
      max-width: 250px;
      max-height: 250px;
      display: inline-block;
      margin-right: 1%;
      margin-bottom: 2%;
      height: auto;
      cursor: pointer;
      box-shadow: 0.6em 1.4em 7px rgba(122, 122, 122, .71);

      &:hover {
        transform: scale(1.1);
        transition-duration: .7s;
      }

      img {
        width: 100%;
        height: auto;

      }

      &__content {
        position: absolute;
        font-size: 27px;
        color: #fff;
        bottom: 10px;
        left: 10px;
      }
    }
  }


}
.info {

  align-items: center;
  max-width: 450px;
  margin: 30px auto;
  border-left: 8px solid #dddddd;

  i {
    font-size: 58px;
    opacity: 0.3;
    padding: 20px;
  }

  p {
    font-size: 15px;
    line-height: 26px;
  }
}
// example end

//choose start
.choose {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 40px;

  &__blocks {
    color: #000000;
    font-weight: 500;
    justify-content: space-between;

    &-block {
      cursor: pointer;
      width: 15%;
      min-height: 201px;

      p {
        padding: 15px 0;
      }

      span {
        display: none;
      }

      &:hover {
        img {
          animation: choose-icon 3s infinite;
        }

        span {
          display: block;
          animation: choose-text 3s infinite;
          opacity: 0;
        }
      }
    }
  }

  .title {
    padding-bottom: 55px;
    font-size: 25px;
  }

  .text {
    font-size: 14px;
    line-height: 120%;
    color: #888888;
    font-weight: 300;
    margin-top: 5px;
  }
}

@keyframes choose-icon {
  from {
    transform: scale(1) rotateY(0deg);
  }
  to {
    transform: scale(1) rotateY(360deg)
  }
}

@keyframes choose-text {
  100% {
    opacity: 1;
  }
}

//choose end

//map start
.map {
  margin-bottom: 40px;
  &__content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__right {
    padding-left: 157px;
    align-items: center;

  }
}

.forma strong {
  font-size: 26px;
}

.form {
  font-size: 18px;
  padding-bottom: 22px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0.4em 0.4em 36px rgba(122, 122, 122, .71);
}

.form p {
  margin: 20px 0 20px 0;
}

.inpt {
  display: inline-block;
  width: 190px;
  height: 51px;
  border: 1px solid #dddddd;
  padding: 5px 15px;
  font: 14px "Exo 2", sans-serif;
  text-align: left;
  background-color: #f7f7f7;
  margin: 0 0 0 0;
}

.submitbtn {
  display: inline-block;
  width: 225px;
  height: 37px;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-size: 225px 74px;
  margin-top: 25px;
  background-color: #f93030;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, .71);
}

.submitbtn:focus {
  transform: scale(1.1);
  border: none;
}

//map end

//card start
.card{
  margin: 40px 0;
  &__container{
    max-width: 1200px;
    margin: 0 auto;
  }
  &__top{
    justify-content: center;
    margin-bottom: 50px;
    &-content{
      margin-left: 6em;
      &__title{
        padding-bottom: 20px;
        h2{
          padding-bottom: 10px;
        }
        p{
          font-size: 20px;
          font-weight: 700;
        }
      }
      &-akcii{
        flex-direction: column;
        text-align: center;
        .stocks{
          align-items: center;
          background: #f7f7ee;
          font-size: 18px;
          margin-bottom: 10px;
          border: 5px solid #f1f1e4;
        }
        i{
          color: green;
        }
        p{
          font-size: 20px;
          padding-left: 20px;

        }
      }
    }
  }
  &__mid{
    border-left: 8px solid #ddd;
    align-items: center;
    i{
      font-size: 100px;

      text-align: center;
      align-content: center;
      opacity: .3;
      padding-left: 30px;
    }
    &-content{
      padding-left: 30px;
      p{
        font-size: 20px;
        margin-bottom: 30px;
      }
    }

  }
  &__categorii{
    margin: 20px 0;
  }
  &__categor{
    display: block;
    padding: 15px 20px 17px 22px;
    background: #efefef;
    margin-bottom: 15px;
    font-weight: 300;
    font-size:18px;
    cursor: pointer;
  }
  &__table{
    margin: 50px 0;
    &-title{
      text-align: center;
      margin-bottom: 25px;
      h2{
        padding-bottom: 7px;
      }
      strong{
        border-left: 6px solid #dddddd;
        padding: 7px 10px 7px 20px;
        font-size: 18px;
        font-weight: 500;
        color: #666666;

        display: inline-block;
      }
    }
    .tceni{
      margin: 0 auto;
    }
    th{

      width: 14%;
    }
    tr{
      margin-bottom: 15px;
      font-size: 20px;
      text-align: center;
      border: 1px solid black;

    }
    td{
      p{
        margin-top: 5px;
      }
      min-width: 10%;
      text-align: center;
      padding: 20px 0;
      border: 1px solid black;
    }
  }
}

//card end


.vagonka{
  display: none;
}



//&__works {
//  justify-content: space-between;
//  flex-wrap: wrap;
//
//  .work {
//    display: inline-block;
//    width: 20%;
//    min-width: 250px;
//    margin-left: 10px;
//    padding: 15px;
//    margin-bottom: 30px;
//
//    cursor: pointer;
//    text-align: center;
//    box-shadow: 0.6em 1.4em 7px rgba(122,122,122,.71);
//
//    &:hover {
//      transform: scale(1.1);
//      transition-duration: .7s;
//    }
//
//    img {
//      width: 100%;
//      max-width: 350px;
//      height: auto;
//    }
//
//    &__content {
//      h6 {
//        font-size: 20px;
//        padding: 15px;
//      }
//
//      .tvrcena {
//        padding-left: 5px;
//        color: #5aff3c;
//      }
//    }
//  }
//}