@import "ourworks";

body {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.red {
  color: #ff0000;
}

.green {
  color: #008000;
}

.d-flex {
  display: flex;
}

.container {
  margin: 0 40px;
}
@media screen and (max-width: 1060px) {
 .container{
   margin: 0 auto;
 }
}
// header start
.header {
  position: sticky;
  top: 0;
  padding-top: 15px;
  font-size: 20px;
  z-index: 140;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


  &__navigation {
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  .logo img {
    width: 4em;
    height: 4em;
  }

  .location {
    order: 3;
    text-align: center;
    align-items: center;

    i {
      margin-right: 10px;
    }

  }

  .contacts {
    text-align: left;
    order: 4;
    font-size: 25px;

    a {
      align-items: center;
    }

    p {
      margin: 4px 0 7px 0;
    }

    .phone, .viber, .telegram {
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 8px;
      }
    }
  }
}


// header end


//sidebar start

.sidebar {
  order: 2;
}

nav {
  background: white;
  box-shadow: 0.3em 0.3em 9px rgba(122, 122, 122, .71);
  max-width: 521px;
  z-index: 150;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out;
}

.topmenu {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #000000;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 3px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}

.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}

.topmenu > li > a {
  padding: 1px 16px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}

.topmenu li a:hover {
  color: #c0a97a;
}

.submenu {
  position: absolute;
  left: 50%;
  top: 118%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: .4s ease-in-out;
}

.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
  font-family: 'Kurale', serif;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.menu {
  cursor: pointer;
  padding-left: 1.25em;
  position: relative;
  width: 15px;
  height: 15px;
  display: none;
}

.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid #000000;
  width: 100%;
  transition: 0.55s;
}

.menu-top {
  top: 0;
}

.menu-middle {
  top: 10px;
}

.menu-bottom {
  top: 20px;
}

.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}

.menu-middle-click {
  opacity: 0;
}

.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

@media screen and (max-width: 1060px) {
  nav {
    max-width: 100%;
  }
  .menu {
    display: block;
    order: 5;
  }

  .sidebar {
    display: none;
    position: absolute;
    bottom: -140%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .9);
  }
  .submenu {
    display: none;
  }
  .topmenu > li {
    display: block;
    padding-bottom: 10px;
  }
  .header {
    font-size: 17px;

    .location {
      order: unset;
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 690px) {
  .header {
    .location {
      display: none;
    }
  }
}

@media screen and (max-width: 440px) {
  .header {

  }
}

//sidebar end
// Home Start
.home {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    animation: img 10s forwards;
    transform-origin: center center;
  }

  .content {
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 100;
    opacity: 0;
    animation: cont 15s forwards;
    animation-delay: 3s;
    background: rgba(255, 255, 255, 0.2);
    padding: 22px;
    font-size: 23px;
    color: #ffffff;

    &__list {
      position: relative;
    }

    &__btn {
      font-size: 20px;
      padding: 5px 24px;
      border: 1px solid black;
      box-shadow: 0.2em 0.2em 0 rgba(122, 122, 122, .71);
      position: absolute;
      right: 3%;
      bottom: 3%;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    li {
      padding-top: 10px;

      i {
        padding-right: 10px;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    animation: mask 3s forwards;

  }

}


@keyframes cont {
  100% {
    opacity: 1;
  }
}


@keyframes mask {
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}


@keyframes img {
  100% {
    transform: scale(1.7);
  }
}

@media screen and (max-width: 1400px) {
  .home {
    .content {
      left: 10%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .home {
    .content {
      left: 1%;
      right: 1%;
      bottom: 2%;
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    img {
      display: none;
    }

    .content {
      position: relative;
      color: black;
    }

    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 590px) {
  .home {

    .content {
      text-align: center;
      color: black;

      h1 {
        font-size: 20px;
      }

      &__list {
        font-size: 15px;
        text-align: left;
      }

      &__btn {
        position: relative;
        margin-top: 15px;
      }
    }

  }
}

// Home end

//best start
.best {
  margin-top: 40px;
  background-color: #ffffff;

  .catalog__products {
    padding-top: 40px;

    .product {
      min-width: 20%;

      &__content {
        position: absolute;
        bottom: 2em;
      }

    }

  }
}
@media screen and (max-width: 590px) {
  .best{
    margin-top: 0px;
    .catalog__products{
      .product{
        width: 119px;
        &__content{
          font-size: 15px;
          bottom: 1em;
        }
      }
    }

  }
}

//best end

// catalog start

.catalog {
  background: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 50px;

  .title {
    text-align: center;
    font-size: 29px;
    margin-bottom: 25px;

    h3 {
      margin: 0;
    }
  }

  &__products {
    justify-content: space-around;
    flex-wrap: wrap;

    .product {

      position: relative;
      min-width: 25%;
      display: inline-block;
      margin-right: 1%;
      margin-bottom: 4%;
      height: auto;
      cursor: pointer;
      box-shadow: 0.6em 1.4em 7px rgba(122, 122, 122, .71);
      transition: all 2s ease;

      a {
        display: block;
        font-size: 0;
      }

      &:hover {
        transform: scale(1.1);
        transition-duration: .7s;
      }

      img {
        width: 100%;
        height: auto;

      }

      &__content {
        position: absolute;
        font-size: 27px;
        color: #fff;
        bottom: 10px;
        left: 10px;
      }
    }
  }


}

.info {

  align-items: center;
  max-width: 450px;
  margin: 30px auto;
  border-left: 8px solid #dddddd;

  i {
    font-size: 58px;
    opacity: 0.3;
    padding: 20px;
  }

  p {
    font-size: 15px;
    line-height: 26px;
  }
}
@media screen and (max-width: 590px) {
  .catalog{
    padding-bottom: 0;
    .title{
      font-size: 22px;
    }
    .catalog__products{
      .product{
        width: 119px;
        &__content{
          font-size: 15px;
          bottom: 1em;
        }
      }
    }

  }
}
// catalog end

//choose start
.choose {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 40px;
  padding-top: 20px;
  background-color: white;

  &__blocks {
    color: #000000;
    font-weight: 500;
    justify-content: space-around;
    flex-wrap: wrap;

    &-block {
      cursor: pointer;
      width: 15%;
      min-height: 201px;

      p {
        padding: 15px 0;
      }

      span {
        display: none;
      }

      &:hover {
        img {
          animation: choose-icon 3s infinite;
        }

        span {
          display: block;
          animation: choose-text 3s infinite;
          opacity: 0;
        }
      }
    }
  }

  .title {
    padding-bottom: 55px;
    font-size: 25px;
  }

  .text {
    font-size: 14px;
    line-height: 120%;
    color: #888888;
    font-weight: 300;
    margin-top: 5px;
  }
}

@keyframes choose-icon {
  from {
    transform: scale(1) rotateY(0deg);
  }
  to {
    transform: scale(1) rotateY(360deg)
  }
}

@keyframes choose-text {
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 840px) {
  .choose__blocks-block {
    width: 26%;
  }
}

@media screen and (max-width: 445px) {
  .choose {
    margin-bottom: 30px;

    &__blocks-block {
      width: 50%;
    }
  }
}

//choose end

//map start
.map {
  margin-bottom: 40px;

  &__content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__right {
    padding-left: 157px;
    align-items: center;

  }
}

.gr {
  background: #f9f8f0;
}

.forma strong {
  font-size: 26px;
}

.form {
  margin-top: 20px;
  font-size: 18px;
  padding-bottom: 22px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0.4em 0.4em 36px rgba(122, 122, 122, .71);
}

.form p {
  margin: 20px 0 20px 0;
}

.inpt {
  display: inline-block;
  width: 190px;
  height: 51px;
  border: 1px solid #dddddd;
  padding: 5px 15px;
  font: 14px "Exo 2", sans-serif;
  text-align: left;
  background-color: #f7f7f7;
  margin: 0 0 0 0;
}

.submitbtn {
  display: inline-block;
  width: 225px;
  height: 37px;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-size: 225px 74px;
  margin-top: 25px;
  background-color: #f93030;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, .71);
}

.submitbtn:focus {
  transform: scale(1.1);
  border: none;
}

@media screen and (max-width: 1050px) {
  .map__right {
    display: none;
  }
}

@media screen and (max-width: 555px) {

  .map__left {
    width: 100%;
    margin: auto
  }
}

//map end

//card start
.card {
  margin: 40px 0;

  .cena {
    color: green;
    font-weight: 700;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__top {
    justify-content: center;
    margin-bottom: 50px;

    &-content {
      margin-left: 6em;

      &__title {
        padding-bottom: 20px;

        h2 {
          padding-bottom: 10px;
        }

        p {
          font-size: 20px;
          font-weight: 700;
        }
      }

      &-akcii {
        flex-direction: column;
        text-align: center;

        .stocks {
          align-items: center;
          background: #f7f7ee;
          font-size: 18px;
          margin-bottom: 10px;
          border: 5px solid #f1f1e4;
        }

        i {
          color: green;
        }

        p {
          font-size: 20px;
          padding-left: 20px;

        }
      }
    }
  }

  &__mid {
    border-left: 8px solid #ddd;
    align-items: center;

    i {
      font-size: 100px;

      text-align: center;
      align-content: center;
      opacity: .3;
      padding-left: 30px;
    }

    &-content {
      padding-left: 30px;

      p {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }

  }

  &__categorii {
    margin: 20px 0;
  }

  &__categor {
    padding: 15px 20px 17px 22px;
    background: #efefef;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    text-align: center;

    h2 {
      padding-right: 15px;
    }

    i {
      opacity: 0.3;
      margin-top: 5px;
    }
  }

  &__table {
    margin: 50px 0;

    &-title {
      text-align: center;
      margin-bottom: 25px;

      h2 {
        padding-bottom: 7px;
      }

      strong {
        border-left: 6px solid #dddddd;
        padding: 7px 10px 7px 20px;
        font-size: 18px;
        font-weight: 500;
        color: #666666;

        display: inline-block;
      }
    }

    .tceni {
      margin: 0 auto;
      box-shadow: 0.8em -0.7em 26px rgba(122, 122, 122, .71);
    }

    th {

      width: 14%;
    }

    tr {
      margin-bottom: 15px;
      font-size: 20px;
      text-align: center;
      border: 1px solid black;

    }

    td {
      p {
        margin-top: 5px;
      }

      min-width: 10%;
      text-align: center;
      padding: 20px 0;
      border: 1px solid black;
    }
  }
}

//card end

.lestnici {
  .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  h6 {
    font-size: 20px;
    margin: 15px 0;
  }

  .cards {
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    display: inline-block;
    width: 20%;
    min-width: 250px;
    margin: 32px 21px;
    padding-bottom: 27px;

    cursor: pointer;
    text-align: center;
    box-shadow: 0.6em 1.4em 7px rgba(122, 122, 122, .71);
    transition: all 2s ease;

    &:hover {
      transform: scale(1.1);
      transition-duration: .7s;
    }

    .tr {
      width: 100%;
      max-width: 350px;
      height: auto;
    }

    strong {
      font-weight: 500;
      color: #000000;
    }

    &-cena {
      font-weight: 600;
      color: #4d8d14;
    }
  }


}

// крепеж и малсо
.krepej_maslo {
  .card__top {
    &__title {
      text-align: center;
      padding: 0;
      margin-bottom: 20px;
    }

    &-content {

      &-akcii {
        font-size: 18px;
        color: #444444;
        font-weight: 300;
        line-height: 160%;
        text-align: left;
        margin-left: 20px;
      }
    }
  }
}

// крепеж и малсо


//все для бани
.banya {
  .card {
    &__top {
      &-content {
        &__title {
          text-align: center;
        }

        &-akcii {
          text-align: left;

          p {
            padding-left: 0;
          }
        }
      }
    }

    &__products {
      justify-content: space-around;
    }

    &__product {
      border: 2px solid #eeeeee;
      padding-bottom: 10px;
      text-align: center;
      width: 24%;

      img {
        width: 100%;
      }

      strong {
        padding-right: 10px;
      }
    }

    &-cena {
      font-weight: 600;
      color: #4d8d14;
    }

    &__sort {
      margin: 15px;
      display: block;
      background-color: #e6e4e4;
      border: 2px solid #eeeeee;
      padding: 5px 10px 5px 10px;
      text-align: center;
      font-size: 14px;

      i {
        margin-right: 10px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &__bigh6 {
      text-align: center;
      font-size: 20px;
      padding: 15px 0 7px 0;
    }

    &__smallh6 {
      font-size: 15px;
      color: #666666;
      font-weight: normal;
      line-height: 90%;
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
}

//все для бани

// footer
.footer {
  justify-content: space-around;
  border-top: 1px solid black;
  padding-top: 20px;
  color: #999999;
  background-color: white;
  margin-bottom: 40px;
  flex-wrap: wrap;


  a {
    color: #999999;
  }

  &__left {
    &-logo {
      img {
        width: 4em;
        height: 4em;
      }

      padding-bottom: 8px;
    }

    ul {
      li {
        padding-bottom: 6px;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: 'Exo 2', sans-serif;

        a:hover {
          color: #c0a97a;
        }
      }
    }
  }

  &__center {
    min-width: 550px;
    margin: 0 30px;

    &-title {
      text-align: center;
      font-size: 20px;
      padding-bottom: 15px;
    }

    &-menu {
      flex-wrap: wrap;
      height: 150px;
      width: 400px;
      flex-direction: column;

      li {
        justify-content: space-around;
        padding: 8px 30px 0 0;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: 'Exo 2', sans-serif;

        a:hover {
          color: #000000;
        }
      }
    }
  }

  &__right {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    font-size: 20px;
    font-weight: 700;
    max-width: 250px;

    .location {
      justify-content: center;
      align-items: center;
      padding-bottom: 17px;

      i {
        padding-right: 15px;
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      a {
        color: black;
      }

      .phone {
        justify-content: center;
        align-items: center;
        padding-bottom: 17px;
        color: black;

        i {
          padding-right: 15px;
        }
      }

      .viber {
        i {
          padding-right: 15px;
        }
      }
    }

  }
}

@media screen and (max-width: 1115px) {
  .footer {
    &__right {
      margin-top: 30px;
    }

    &__center {
      margin-top: 25px;
      order: 4;
    }
  }
}

@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
    padding: 20px 15px;

    &__center {
      text-align: center;
      min-width: auto;

      &-menu {
        height: auto;
        width: auto;

        li {
          padding: 5px 0;
        }
      }
    }

    .location {
      text-align: center;
    }

    .contacts {
      align-items: center;
    }
  }
}

// footer